/* Familia Matisse */

    /* Font para subtitulos */
@font-face {
    font-family: "Matisse EB" ;
    src: url(fonts/MatisseEB.otf);
}
/* Font para cuerpo del texto */
@font-face {
    font-family: "Matisse M" ;
    src: url(fonts/MatisseM.otf);
}
    /* Font para Titulos  */
@font-face {
    font-family: "Matisse UB" ;
    src: url(fonts/MatisseUB.otf);
}



/* Familia Breathe Fire */
@font-face {
    font-family: "Breathe Fire";
    src: url(fonts/BreatheFireIii-PKLOB.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url("images/rolepc2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}





/* --------------------------------------------------------------------------------------------------------------------------- */
/*-----------------------------------------------NAVBAR--------------------------------------------------------------------*/
#main-header {
    color: white;
    padding: 0.5vw 0 0 0;
    height: 2vw;
    text-align: left;
    border-radius: 3px;
    /* border: solid #59a1ff; */
    margin-bottom: 2vw;
    background-color: #2b2738;
}

#burguerNavbar {
    padding: 0 0 0 5vw;
    margin: 0;
    height: 8vw;
    width: 10vw;
    float: right;
    cursor: pointer;
}

#opened-menu {
    display: none;
  }
#opened-menu.open {
    background-color: rgba(0, 19, 105, 0.5);
    text-align: center;
    font-size: 45px;
    padding: 10px;
    text-shadow: none;
    display: block;
}

.itemsMenuAbierto {

    font-size: 2vw;
    font-family: "Matisse EB";
    

}

#itemIniciarSesion {

    margin-top: 9vw;
}

#expandedNavbar {

    list-style: none;
    margin: 0;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    color: #fff;
    padding: 0 0 1vw 0;
    background-color: #2b2738;
}


#expandedNavbar li {
    
    width: 3vw;
    margin: 0vw 8vw;

}



li {
    list-style: none;
    cursor: pointer;
}

.burguer {

    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 0.8vw;
    margin: 0.8vw;
    
    }



/*-----------------------------------------------FIN DEL NAVBAR--------------------------------------------------------------------*/


/* -------Titulos y párrafos------- */



.logo {
    display: block;
    width: 50%;
    margin: 30vw auto 1vw auto;
    align-items: center;
}

h1 {
    font-family: "Matisse UB" ;
    color:#5adaff;
    /* text-shadow: 2px 2px #000000; */
    font-size: 2vw;
    text-align: center;
    margin-top: 0vw;
}

.LogInText {

    font-family: "Matisse UB";
    width: 10vw;
    margin-top: 1vw;
}

.divFondo {

    margin-top: -6vw ;
    background-color: #4c4468;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.cuerpoDelTexto {

    font-family: "Matisse M" ;
    color: #ffffff;
    font-size: 1vw;
    text-align: center;
}

/* ----------------------------------------------FORMULARIO-------------------------------------------------------------------- */

/*FORMULARIO*/



.grid-container {
    background-color:  #d0ccc3;
    width: 100%;
    display: grid;
    grid-template-columns: 25vw 15vw 15vw 15vw 15vw 15vw;
    grid-template-rows: 10vw 18vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw;
    column-gap: 20px;


}

.fotoPerfilCharacter{
    height: 90%;
    grid-column-start:1; 
    grid-row-start: 1;
    grid-row-end: 3;
}
.divFormulario {
    grid-column-start: 2;
    grid-column-end: 6;
  
  }
#nombre, #raza, #clase, #sexo {

    width: 8vw;
}
#submitName {

    background-color: yellow;
}

.form {
    border-radius: 0.3m;
    padding: 2em;
    margin: 0;
    font-family: "Matisse EB";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
 
  
  .form-row input[type=text] {
    background-color: #d0ccc3;
    border-radius: 0.4em;
    border-style: none;
    padding: 0.7em;
    font-size: 0.9em;
    font-family: "Matisse M";
  }
  
  .form-row label {
    margin: 1.5em 0;
  }

  /* --------FIN DEL FORMULARIO----------- */
/* Atributos */

.divAtributos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: auto auto;


}
.atributo {
    font-family: "Matisse EB" ;
    color: #000000;
    font-size: 1.5vw;
    margin: 1.8vw 0 0 0;
    text-align: center;
}
.buttonPlus {

    height: 4vw;
    width: 4vw;
    margin: 2vw 0 0 2vw;
    align-self: center;
    font-size: 2vw;
}

.valorAtributo {

    text-align: center;
    margin: 0;
    font-family: "Matisse EB";
    font-size: 2vw;
}

/* Equipamiento */

            .divEquipamiento {

    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    font-family: "Matisse M";
    font-size: 1.5vw;
    border-radius:10%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#miEquipo {

    resize: none;
    height: 100%;
    width: 100%;
}


            .divHechizos {

    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 11;
    font-family: "Matisse M";
    font-size: 1.5vw;
    border-radius:10%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#misHechizos {
    resize: none;
    height: 100%;
    width: 100%;
}

.divVidaMana {

    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    font-family: "Matisse M";
    font-size: 1.5vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 6vw;
    justify-items: center;
    
}
.pVidaMana {

    font-family: "Matisse EB";
    font-size: 1.7vw;

}
#vida, #mana, #oro, #nivel {
    height: 5vw;
    width: 5vw;
}


.divDatosDelPersonaje {

    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    font-family: "Matisse M";
    font-size: 1.5vw;
    border-radius:10%; 
}

.nombrePersonaje {

    font-size: 3vw;
    text-align: center;
    margin: 0;
}

.profesionPersonaje, .razaPersonaje{

    font-size: 1.7vw;
    text-align: center;
    margin: 0;
}








/* footer {
    position: absolute;
    bottom: -200px;
    background-color: black;
    height: 300px;
    width: 105vw;
} */
