/* Familia Matisse */

    /* Font para subtitulos */
@font-face {
    font-family: "Matisse EB" ;
    src: url(fonts/MatisseEB.otf);
}

@font-face {
    font-family: "Matisse M" ;
    src: url(fonts/MatisseM.otf);
}
    /* Font para Titulos  */
@font-face {
    font-family: "Matisse UB" ;
    src: url(fonts/MatisseUB.otf);
}



/* Familia Breathe Fire */
@font-face {
    font-family: "Breathe Fire";
    src: url(fonts/BreatheFireIii-PKLOB.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url("rolepc2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}





/* ------------------------------------------------------------------------------------ */
/*NAVBAR--------------------------------------------------------------------------------*/
#main-header {
    color: white;
    padding: 0.5vw 0 0 0;
    height: 5vw;
    text-align: left;
    border-radius: 3px;
    /* border: solid #59a1ff; */
    margin-bottom: 2vw;
    background-color: rgba(55, 52, 73, 1);
    border-bottom: solid #5adaff 1px;
}

li {
    list-style: none;
    font-family: 'Merriweather', serif;
    cursor: pointer;
}


h1 {
    font-family: "Breathe Fire";
    color: #5adaff;
    text-shadow: 4px 0 #000000, -4px 0 #000000, 0 4px #000000, 0 -4px #000000,
               2px 2px #000000, -2px -2px #000000, 2px -2px #000000, -2px 2px #000000; 
    font-size: 7vw;
    text-align: center;
    margin-top: 30vw;
}

.welcomeText {

    font-family: "Breathe Fire";
    width: 10vw;
    margin-top: 1vw;
}
#navbar, #iconNavbar {

    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #fff;
    padding: 0 0 1vw 0;
    background-color: rgba(55, 52, 73, 0.9);
    height: 4vw;
}

#navbar li {

    display: none;
}

#iconNavbar li {
    
    width: 3vw;
    margin: 0vw 8vw;

}
.NavbarContactIcons {
	width: 8vw;
	}

#burguerNavbar {
    padding: 0 0 0 5vw;
    margin: 0;
    display: none;
    height: 8vw;
    width: 10vw;
    float: right;
    cursor: pointer;
}

ul a {

    text-decoration: none;
}

/* a:visited {

    color: inherit;
}

.underlinedText {

    text-decoration: underline white;
} */








/* ----------------------------------------------------Sección 1------------------------------------------------------------------ */
.seccion1 {
    display:flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;

}
.blueDiv {

    background-color: rgb(0, 0, 122);
    height: 10vw;
    width: 20vw;
    border-radius: 20px;
    margin: 30vw 10vw 0 10vw;
    display:flex;
    align-items: center;
    justify-content: center;
}



/* footer {
    position: absolute;
    bottom: -200px;
    background-color: black;
    height: 300px;
    width: 105vw;
} */
